*.iml
.idea
*.log
target/

kmdp-artifact-repository-service
kmdp-artifact-transrepresentation-service
kmdp-asset-repository-service
kmdp-inference-service
kmdp-knowledgebase-service
kmdp-terminology-service

**/*.xml.versionsBackup
