package {{package}};

import {{modelPackage}}.*;


{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{#operations}}
public class {{classname}}Impl implements {{classname}} {

  private {{package}}.server.{{classname}}Delegate __localDelegate;
  private {{package}}.client.{{classname}} __webClient;

  private boolean local;

  protected {{classname}}Impl( {{package}}.server.{{classname}}Delegate delegate ) {
    this.__localDelegate = delegate;
    local = true;
  }

  protected {{classname}}Impl( {{package}}.client.{{classname}} webClient ) {
    this.__webClient = webClient;
    local = false;
  }

  {{#operation}}
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
        if ( local ) {
            {{#returnType}} return {{/returnType}} __localDelegate.{{operationId}}( {{#allParams}} {{paramName}} {{#hasMore}}, {{/hasMore}} {{/allParams}} ).getBody();
        } else {
            {{#returnType}} return {{/returnType}} __webClient.{{operationId}}( {{#allParams}} {{paramName}} {{#hasMore}}, {{/hasMore}} {{/allParams}} );
        }
  }
  {{/operation}}
}
{{/operations}}

