package {{package}};

import {{modelPackage}}.*;

{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{#operations}}
public interface {{classname}} {

  {{#operation}}
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
  {{/operation}}

  public static {{classname}} newInstance() {
    return new {{classname}}Impl( new {{package}}.client.{{classname}}() );
  }

  public static {{classname}} newInstance( {{package}}.ApiClient apiClient ) {
    return new {{classname}}Impl( new {{package}}.client.{{classname}}( apiClient ) );
  }

  public static {{classname}} newInstance( {{package}}.server.{{classname}}Delegate delegate ) {
    return new {{classname}}Impl( delegate );
  }


}
{{/operations}}

